/*
    TIPOS DE SELETORES CSS
    . Class
    # Id
    button - Universal
    div button - Seletor de filho
    div, button - Todos divs e buttons
*/
* {
    font-family: Arial, Helvetica, sans-serif;
}
.menu {
    padding: 0;
}
.menu-itens {
    display: flex;
    align-items: center;
    float: right;
}
.menu-itens * {
    padding: 4px;
    font-size: 14px;
    color: rgb(124, 123, 123);
}
.menu-itens i {
    font-size: 18px;
}
.img-google {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.searche {
    padding-top: 50px;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.busca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.busca div {
    display: flex;
    align-items: center;
    border: 1px solid rgb(238, 232, 232);
    padding: 14px;
    border-radius: 100px;
    margin-top: 20px;
    width: 600px;
    height: 18px;
}
.busca div:hover {
    box-shadow: -1px 1px 2px 2px rgb(236, 233, 233);
    border-color: transparent;
}
.busca input {
    border: none;
    font-size: 20px;
    height: 100%;
    outline: none;
    margin: 0 10px 0 10px;
    width: 82%;
}
.flex {
    width: 100%;
}
.busca i {
    font-size: 18px;
    margin: 0 6px 0 6px;
    color: rgb(58, 56, 56);
}