.menu {
    display: flex;
}
.link {
    display: grid;  
    margin-right: 5px;
} 
.link button {
    background-color: transparent;
    height: 50px;
    width: 100px;
    color: rgb(73, 219, 244);
    font-size: 20px;
    border: none;
    font-weight: 600;
}
.link button:hover {
    color: rgb(12, 167, 194);
}
.link label {
    display: flex;
    height: 2px;
}
.link button:hover + label {
    background-color: rgb(12, 167, 194);
    animation: bar 0.7s;
}
body {
    background-color: rgb(0, 0, 0);
}

#introducao {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bar {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}